.wd-left-sidebar{
    padding-left: 5px;
}

.btn-primary.override{
    float: bottom;
border-radius: 20px;
padding: 10px;
width: 100%;
margin-top: 10px}

.wd-sb{
    width: 100%;
    border-radius: 50px;
    padding-left: 30px;
}

.wd-gear{
    /*width: 10%;*/
    float: right;
    color: #0c63e4;
    font-size: 2.5em;
}

.wd-float-bottom{
    float: bottom;
    padding-top: 10px;
}

.wd-title-bottom-left{
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.wd-js-logo{
    color: yellow;
    background-color: black
}

.wd-node-logo{
    color: green;
}

.wd-image-container{
    position: relative;
}

.wd-mag-glass{
    position: absolute;
    top: 10px;
    left: 20px;
}

.btn-primary.follow{
    float: left;
    border-radius: 20px;
    padding: 10px;
}

