.wd-bg-color-black{background-color: black;}

.wd-page{
    background-color: black;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.wd-border-color{border-color: rgb(47, 51, 54);}

.wd-bold{
    font-weight: bold;
}

.wd-margin-left{margin-left: 16px;}

.wd-padded-left{padding-left: 16px;}

.wd-rounded-corners-all-around{border-radius: 50px;}

.wd-fg-color-white{color: white;}

.wd-fg-color-light-grey{color: lightgrey;}

.wd-margin-right{margin-right: 16px;}

.wd-padded-right{padding-right: 12px;}

.wd-bg-color-dark-grey{background-color: darkgrey}

.wd-bg-color-light-grey{background-color: lightgrey}

::placeholder {color: white;opacity: 1;}

.wd-float-left {float: left;}

.wd-float-right {float: right;}

.wd-first-link-color{color: rgb(29,161,242);}

.wd-other-link-color{color: lightgrey;}

.wd-padding-all-around{padding: 16px;}

.wd-border-bottom{border: 1px solid;}

.wd-first-bottom-border-fat{border-bottom-width: 10px; border-color: rgb(29,161,242);}

.wd-other-bottom-border-fat{border-bottom-width: 10px; border-color: lightgrey;}

.wd-rounded-corners-all-around {border-radius: 25px;}

.wd-search-bar{background-color: darkgrey;
    padding-left: 16px;
    border-color: rgb(47, 51, 54);
    border-radius: 25px;
width: 400px;}

.wd-navigation-1{
    float: left;
    padding: 16px;
    font-size: 15px;
    border-bottom: 1px solid rgb(29,161,242);
}

.wd-navigation-2{
    float: left;
    padding: 16px;
    font-size: 15px;
    border-bottom: 1px solid rgb(110, 118, 125);
}

.wd-navigation-a-1{
    color: rgb(29,161,242);
    text-decoration: none;
}

.wd-navigation-a-2{
    color: rgb(110, 118, 125);
    text-decoration: none;
}











