.wd-bg-color-black{background-color: black;}

.wd-page{
    background-color: black;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);
}

.wd-title-top{
    padding-left: 16px;
    padding-top: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.wd-user{
    color: lightgray;
    font-size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.wd-border{
    border: 1px solid rgb(47, 51, 54);
}
.wd-user-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
}

.wd-image-padding{
    padding-left: 16px;
    padding-top: 12px;
}

.wd-left-padding{
    padding-left: 65px;
}

.wd-author-name{
    padding-left: 12px;
    font-size: 15px;
    color: white;
    float: left;
}

.wd-author-handle{
    padding-left: 5px;
    font-size: 15px;
    color: lightgray;
    float: left;
}

.wd-main-content{
    color: white;
    font-size: 15px;
    max-width: 506px;
    padding-left: 12px;
    padding-bottom: 12px;
    float: left;
}

.wd-big-image{
    height: 264px;
    width: 504px;
    border: 1px solid rgb(47, 51, 54);
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.wd-bold-title{
    color: white;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    font-size: 15px;
    float: bottom;
}

.wd-grey-text{
    color: lightgray;
    font-size: 15px;
    float: bottom;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;

    max-width: 480px;
}

.wd-bottom-border{
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border: 1px solid rgb(47, 51, 54);
    width: 504px;

}

.wd-grid-col-quarter-page{
    width: 20%;
    float: left;
}

.wd-icon-text-grey{
    color: lightgray;
    padding-left: 12px;

}

.wd-icon-text-red{
    color: red;
    padding-left: 12px;

}

.wd-border-color{
    border-color: rgb(47, 51, 54);
}